<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="UTF-8"/>
<title>Notre Banque</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
  			<div class="col-md-6">
  				<div class="card">
  					<div class="card-heading bg-primary">Consultation d'un compte</div>
  					<div class="card-body">
  						<form th:action="@{/consulterCompte}" method="get">
  							<div>
  								<input type="text" name="codeCompte" th:value="${codeCompte}" class="form-control" placeholder="Code Compte">
  								<button type="submit" class="btn btn-primary mb-2">Entrer</button>
  					
  							</div>
  						</form>
  						<div class="text-danger" th:if="${exception}" th:text="${exception.message}"></div>
  					</div>
  				</div>
  				<div class="card" th:if=${compte}>
  					<div class="card-heading bg-primary">Information sur le compte</div>
  					<div class="card-body">
  						<div>
  							<label>Client :</label>
  							<label th:text="${compte.client.nom}"></label>
  						</div>
  						<div>
  							<label>Code :</label>
  							<label th:text="${compte.codeCompte}"></label>
  						</div>
  						<div>
  							<label>Solde :</label>
  							<label th:text="${compte.solde}"></label>
  						</div>
  						<div>
  							<label>Date Création :</label>
  							<label th:text="${compte.dateCreation}"></label>
  						</div>
  						<div>
  							<label>Type :</label>
  							<label th:text="${compte.class.SimpleName}"></label>
  						</div>
  						<div th:if="${compte.class.SimpleName=='CompteCourant'}">
  							<label>Découvert :</label>
  							<label th:text="${compte.decouvert}"></label>
  						</div>
  						<div th:if="${compte.class.SimpleName=='CompteEpargne'}">
  							<label>Taux :</label>
  							<label th:text="${compte.taux}"></label>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-6">
  				<div class="card" th:if=${compte}>
  					<div class="card-heading bg-primary">Opérations sur le compte</div>
  					<div class="card-body">
  						<form th:action="@{/saveOperation}" method="post">
  							<div>
  								<label>Compte: </label>
  								<input type="hidden" name="codeCompte" th:value="${codeCompte}" class="form-control"/>
  								<label th:text=${codeCompte}></label>
  							</div>
  							<div>
  								<input type="radio" name="typeOperation" value="VERS" checked="checked"
  								onchange="document.getElementById('forVirement').style.display='none'"/>
  								<label>Versement </label>
  								
  								<input type="radio" name="typeOperation" value="RET"
  								onchange="document.getElementById('forVirement').style.display='none'"/>
  								<label>Retrait </label>
  								
  								<input type="radio" name="typeOperation" value="VIR"
  								onchange="document.getElementById('forVirement').style.display='block'"/>
  								<label>Virement </label>
  							</div>
  							<div id="forVirement" style="display:none">
  								<label>Vers: </label>
  								<input type="text" name="codeCompte2" class="form-control"/>
  							</div>
  							<div>
  								<label>Montant: </label>
  								<input type="text" name="montant" class="form-control"/>
  							</div>
  							<div class="text-danger">
  							</div>
  							<button type="submit" class="btn btn-primary mb-2">Valider</button>
  							
  						</form>
  					</div>
  				</div>
  				<div class="card" th:if=${compte}>
  					<div class="card-heading bg-primary">Liste des opération</div>
  					<div class="card-body">
  						<table class="table table-striped">
  							<tr>
  								<th>Numéro</th>
  								<th>Type</th>
  								<th>Date</th>
  								<th>Montant</th>
  							</tr>
  							<tr th:each="o:${listOperation}">
  								<td th:text="${o.numero}"></td>
  								<td th:text="${o.class.SimpleName}"></td>
  								<td th:text="${o.dateOperation}"></td>
  								<td th:text="${o.montant}"></td>
  							</tr>
  						</table>
  						<div class="container">
  							<!-- <ul class="nav">
  								<li class="nav-item" th:each="p,status:${pages}">
  									<a class="nav-link" th:text="${status.index}"></a>
  								</li>
  							</ul> -->
							<nav aria-label="...">
								<ul class="pagination pagination-lg">
									<!-- <li class="page-item active" aria-current="page">
									 <span class="page-link">1</span></li>  -->
									<li class="page-item" th:each="p,status:${pages}">
									<a class="page-link" th:text="${status.index}"></a>
									</li>
								</ul>
							</nav>
						</div>
  					</div>
  				</div>
  			</div>
 		</div>	
	</div>
</body>
</html>