<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Authentification</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" 
	href="../static/css/myStyle.css" 
	th:href="@{/css/myStyle.css}"/>
</head>
<body>
<div class="col-md-4 container justify-content-center spacer40">
	<div class="card ">
		<div class="card-heading bg-primary">Authentification</div>
		<div class="card-body" >
		 <div th:if="${param.error}" class="red">
		 	Incorrect username or password
		 </div>
	     <form th:action="@{/login}" method="post">
		  <div>
			<label>Username</label>
			<input type="text" name="username">
		  </div>
		  <div>
			<label>Password</label>
			<input type="password" name="password">
		  </div>
		  <button type="submit">Login</button>
	     </form>
		</div>
	</div>
</div>	
</body>
</html> -->