<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"   
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Ma Banque</title>

<!-- Bootstrap CSS -->
<!-- <link rel="stylesheet" type="text/css" 
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}"/> --> 
	
	
<link rel="stylesheet" type="text/css" 
	href="../static/css/bootstrap.css"
     th:href="@{/css/bootstrap.css}"/>
	
	
<link rel="stylesheet" type="text/css" 
	href="../static/css/myStyle.css" 
	th:href="@{/css/myStyle.css}"/>
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
</head>
	

<body>
<header>
	
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"  href="#">Notre Banque</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-primary" aria-current="page" th:href="@{/operation}">Opérations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" th:href="@{/comptes}">Comptes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" th:href="@{/clients}">Client</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>  
    </div>
    <!-- <ul class="nav navbar-nav navbar-right">
          <a class="nav-link text-primary" th:href="@{/login?logout}">Logout</a>
    </ul> -->
  </div>
</nav>
		
</header>
	
<section layout:fragment="content"></section>
	
	<!-- <footer>
		<div class="navbar-fixed-bottom">
			<small>@ L'adresse de notre banque</small>
		</div>
	</footer> -->
	
	<footer class="fixed-bottom bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    12 Rue de Paris, 93100 Montreuil
    <a class="text-dark" href="https://mdbootstrap.com/"></a>
  </div>
  <!-- Copyright -->
</footer>
	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>
</html>